<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%block title%} {%endblock%}</title>

    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/styles.css')}}"
    />
  </head>
  <body class="home">
    <nav class="navbar">
      <!--bG9nbyBrbXcK-->
      <div class="kmw-logo">
        <img src="" alt="KMW" />
      </div>
      <!--bG9nbyBrbXcK-END-->
      <!--bmF2IGxpbmtzCg==THEMES START-->
      <div class="theme-changer">
        <select name="themes" id="themes">
          <option value="default" >Default KMW Theme</option>
          <option value="user-theme">{{username}} Theme</option>
        </select>
      </div>
      <!--bmF2IGxpbmtzCg==THEMES END-->
      <!--bmF2IGxpbmtzCg== START-->
      <ul class="nav-links">
        <li><a style="text-decoration: none;" href="{{url_for('home')}}" class="{% if request.endpoint == 'home'%} active {%endif%}">Home</a></li>
        <li><a style="text-decoration: none;" href="{{url_for('my_projects')}}" class="{% if request.endpoint == 'my_projects'%} active {%endif%}">My projects</a></li>
        <li> <a style="text-decoration: none;" href="{{url_for('productivity_tools')}}" class="{% if request.endpoint == 'productivity_tools'%} active {%endif%}">KMW Productivity</a></li>
        <li><a style="text-decoration: none;" href="{{url_for('productivity_tools')}}" class="{% if request.endpoint == 'productivity_tools'%} active {%endif%}">Settings</a></li>
        <li><a href="{{url_for('logout')}}">Log Out</a></li>
      </ul>
      <!--bmF2IGxpbmtzCg== END-->
      <!--bmF2IGxpbmtzCg==account START-->
      <div class="account">
        <a href="{{url_for('user_profile')}}"><img  src="{{userpic}}" alt="user-profile" /></a>
      </div>
      <!--bmF2IGxpbmtzCg==account END-->
    </nav>
    {% block content %}
    {%endblock%}
  <script>
    const themes = document.getElementById("themes");

   

    themes.addEventListener("click", () =>{
      if (themes.value == "user-theme"){
        document.body.style.background="#000000"
        
      }
      else{
        document.body.style.background="#f1e0fc"
      }

    });
  </script>    
  </body>
</html>
