<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%block title%} {%endblock%}</title>

    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/styles.css')}}"
    />
  </head>
  <body class="home">
    <nav class="navbar">
      <!--bG9nbyBrbXcK-->
      <div class="kmw-logo">
        <img src="" alt="KMW" />
      </div>
      <!--bG9nbyBrbXcK-END-->
      <!--bmF2IGxpbmtzCg==THEMES START-->
      <div class="theme-changer">
        <select name="themes" id="themes">
          <option value="default" >Default KMW Theme</option>
          <option value="user-theme">{{username}} Theme</option>
        </select>
      </div>
      <!--bmF2IGxpbmtzCg==THEMES END-->
      <!--bmF2IGxpbmtzCg== START-->
      <button type="button" id="menu-btn">
        ≡
      </button>
      <ul class="nav-links" id="nav-links">
        <li><a style="text-decoration: none;" href="{{url_for('home')}}" class="{% if request.endpoint == 'home'%} active {%endif%}">Home</a></li>
        <li><a style="text-decoration: none;" href="{{url_for('my_projects')}}" class="{% if request.endpoint == 'my_projects'%} active {%endif%}">My projects</a></li>
        <li> <a style="text-decoration: none;" href="{{url_for('productivity_tools')}}" class="{% if request.endpoint == 'productivity_tools'%} active {%endif%}">KMW Productivity</a></li>
        <li><a style="text-decoration: none;" href="{{url_for('settings')}}" class="{% if request.endpoint == 'settings'%} active {%endif%}">Settings</a></li>
        <li><a href="{{url_for('logout')}}">Log Out</a></li>
      </ul>
      <!--bmF2IGxpbmtzCg== END-->
      <!--bmF2IGxpbmtzCg==account START-->
      <div class="account">
        <a href="{{url_for('user_profile')}}">
        {% if userpic %}
          <img  src="{{userpic}}" alt="user-profile" /></a>
        {% else %}
        <a href="{{url_for('user_profile')}}">
          <img src="{{url_for('static', filename='images/defaultkittyprofile.png')}}" alt="">
        </a>
        {% endif%}
      </div>
      <!--bmF2IGxpbmtzCg==account END-->
    </nav>

    <div id="kiterminal">
      <p>K&gt_</p>
    </div>
  
   <div id="kiterminal-window">
     <div class="buttons">
    
      <div id="close-terminal">
        x
      </div>
      
   </div>
      <!--<p class="command-data-user" id="banner-user">{{username}}∆rootkit~:</p>
      <input  type="text" name="user-command" id="command">
      <p id="response">kit&gt:</p>-->
    </div>
    {% block content %}
    {%endblock%}
  <script>
    const themes = document.getElementById("themes");
    const kiterminal = document.getElementById("kiterminal");
    const kiterminal_window = document.getElementById("kiterminal-window");
    const close_terminal = document.getElementById("close-terminal");
    const up_terminal = document.getElementById("up-terminal");
    const projects = {{projects | tojson}};
    let places = ["home","my-projects", "productivity-tools", "settings", "my-profile"];
    let type_creations =  {
      "projects":"-p",
      "files":"-f"
    };
    kiterminal.addEventListener("click", ()=>{

         kiterminal_window.style.display="flex";
          
         create_lines();
      
         if(kiterminal_window.style.display=="none"){
      
           kiterminal_window.style.display="flex";
         }
      
    });
    close_terminal.addEventListener("click",()=>{
      kiterminal_window.innerHTML =""; 
      kiterminal_window.style.display="none";
    });
         function create_lines(){
          kiterminal_window.appendChild(close_terminal);
           const banner_user = document.createElement('p');
           banner_user.className = 'command-data-user';
           banner_user.id = 'banner-user';
           banner_user.innerText="{{username}}∆kitt~:"
           kiterminal_window.appendChild(banner_user);
           const command = document.createElement("input");
           kiterminal_window.appendChild(command);
           command.id = 'command';
           const response = document.createElement("p");
           response.id = 'response';
           response.innerText="K>:";

           command.addEventListener("keydown", async (e)=>{

             if (e.key === "Enter"){
                kiterminal_window.appendChild(banner_user);
                kiterminal_window.appendChild(command);
                if (command.value == "me"){
                  response.innerText+="{{username}}";
                  kiterminal_window.appendChild(response);
                  create_lines();
          
                  
                }
                else if(command.value == "where"){
                  response.innerText+="{{request.endpoint}}";
                  kiterminal_window.appendChild(response);
                  create_lines();
                }
                else if(command.value == "icon"){
                  response.innerText+="{{userpic}}";
                  kiterminal_window.appendChild(response);
                  create_lines();
                }
                else if(command.value == "go"){
                  response.innerText+="Where? ";
                    for (const place of places) {
                      response.innerText+= place + " ";
                     
                      
                    }
                     kiterminal_window.appendChild(response);
                      create_lines();
                    
                }
                else if(command.value.startsWith("go")){
                    const args = command.value.split(" ");
                    const target = args[1];
                    
                   
                    
                    if(places.includes(target)){
                      response.innerText="cargando...";

                     kiterminal_window.appendChild(response);
                      window.location.href = `/${target}`;

                    }
                    else{
                      alert(target+" no existe");
                      create_lines();
                    }
                    

                   
                    

                    
                  }
                else if(command.value=="create"){
                  for (const [type, shortcut] of Object.entries(type_creations)) {
                    response.innerText +=  "";
                    response.innerText += type  +" = "+ shortcut + "|";
                   
                    
                  }
                  kiterminal_window.appendChild(response);
                    create_lines();
                  
                }
                else if(command.value.startsWith("create")){
                  const args = command.value.split(" ");
                  const target = args[1];

                  if(target){
                    if (target == "projects" || target == "-p"){
                      const name_project_input = document.createElement('input');
                      const name_project_label = document.createElement('label');
                      const pass_project_input = document.createElement('input');
                      const pass_project_label = document.createElement('label');
                      name_project_input.type = "text";
                      pass_project_input.type = "text";
                      name_project_label.innerText="Enter a name for project: ";
                      pass_project_label.innerText="Enter a pass for project (can press enter to make public project): ";
                      kiterminal_window.appendChild(name_project_label);
                      kiterminal_window.appendChild(name_project_input);
                    
                      name_project_input.addEventListener("keydown", async (e) =>{
                        if (e.key === "Enter"){
                          if (name_project_input.value != ""){
                          kiterminal_window.appendChild(pass_project_label);
                          kiterminal_window.appendChild(pass_project_input);
                            pass_project_input.addEventListener("keydown", async (e)=>{
                              if (e.key === "Enter"){
                                const result = await fetch(`/my-projects`,{
                                  method:"POST",
                                  headers:{
                                    "Content-Type":"application/json"

                                  },
                                  body: JSON.stringify({
                                    "name":name_project_input.value,
                                    "pass":pass_project_input.value
                                  })

                                });

                                const data = await result.json();

                                if(data.success){
                                    response.innerText+="Projecto "+name_project_input.value + " agregado correctamente";
                                    kiterminal_window.appendChild(response);
                                    create_lines();
                                    
                                }else{
                                  response.innerText+="No se pudo agregar proyecto";
                                  kiterminal_window.appendChild(response);
                                  create_lines();

                                }

                              }
                              else if((e.ctrlKey  || e.metaKey) && e.key.toLowerCase()=="c"){
                                name_project_input.setAttribute("disabled", true);
                                pass_project_input.setAttribute("disabled", true);
                                create_lines();

                              }
                            });
                    
                      }
                        }else if((e.ctrlKey || e.metaKey) && e.key.toLowerCase() == "c"){
                          name_project_input.setAttribute("disabled", true);
                          create_lines();
                        }
                         
                      });

                     
                      
                     
                    }
                    else if(target == "files" || target == "-f"){
                        response.innerText+= "Where projects you want to work: ";
                        
                        let i =1;
                        for (const project of projects) {
                          
                          response.innerText += "\n" + i + "- "+project.name + "\n";
                          kiterminal_window.appendChild(response);
                          i++; 
                        }

                       
                        const project_name_label = document.createElement('label');
                        const project_name = document.createElement('input');
                        project_name.type="text";
                        project_name_label.innerText = "Enter the project name: ";
                        const project_pass_label = document.createElement('label');
                        const project_pass = document.createElement('input');
                        project_pass.type="text";
                        project_pass_label.innerText = "Enter the project pass: ";
                        kiterminal_window.appendChild(project_name_label);
                        kiterminal_window.appendChild(project_name);
                        project_name.addEventListener("keydown", async(e) => {
                        const project = projects.find(prj=>prj.name === project_name.value);
                          if (e.key ==="Enter"){
                            if (project && project.has_password){
                              kiterminal_window.appendChild(project_pass_label);
                              kiterminal_window.appendChild(project_pass);

                              project_pass.addEventListener("keydown", async (e)=>{
                                if(e.key === "Enter"){
                                  const result = await fetch(`/projects/${project.id}/access`,{
                                    method:"POST",
                                    headers:{
                                      "Content-Type":"application/json"
                                    },
                                    body: JSON.stringify({
                                      "source":"terminal",
                                      "password_project":project_pass.value
                                    })

                                     
                                  });
                                  const data = await result.json();
                                  if(data.success){
                                    banner_user.innerText+="/"+project.name+":";
                                    kiterminal_window.appendChild(banner_user);
                                    const label_filename = document.createElement('label');
                                    const input_filename = document.createElement('input');
                                    input_filename.type ="text";
                                    label_filename.innerText="Enter the filename to create";

                                    kiterminal_window.appendChild(label_filename);
                                    kiterminal_window.appendChild(input_filename);
                                    input_filename.addEventListener("keydown", async(e)=>{
                                       if(e.key === "Enter" && input_filename.value){
                                        let type_files = ["html", "css", "python"];
                                        response.innerText ="Enter the type of file to create:";
                                        for (const type of type_files) {
                                          
                                          response.innerText+="\n" + type + "\n";
                                          kiterminal_window.appendChild(response);
                                         
                                          
                                          
                                        }
                                          const label_type = document.createElement('label');
                                          const input_type = document.createElement('input');
                                          input_type.type = "text";
                                          label_type.innerText="Enter type:";
                                          kiterminal_window.appendChild(label_type);
                                          kiterminal_window.appendChild(input_type);
                                          input_type.addEventListener("keydown", async(e)=>{
                                            if(e.key ==="Enter"){
                                               const result = await fetch(`/projects/${project.id}/files/creation`,{
                                                method:"POST",
                                                headers:{
                                                  "Content-Type":"application/json"
                                                },
                                                body: JSON.stringify({
                                                  "source":"terminal",
                                                  "filename":input_filename.value,
                                                  "type_filename":input_type.value
                                                })

                                               });
                                               const data = await result.json();
                                               if(data.success){
                                                response.innerText="Se agrego el archivo "+ input_filename.value+"."+input_type.value+" correctamente";
                                                kiterminal_window.appendChild(response);
                                                create_lines();
                                               }
                                               else{
                                                alert("No se pudo crear");
                                               }
                                            }
                                          });
                                      }else if(e.key === "Enter" && input_filename.value==""){
                                         kiterminal_window.appendChild(label_filename);
                                         kiterminal_window.appendChild(input_filename);
                                      }
                                    });
                                     
                                  }
                                  else{
                                    response="Incorrect password";
                                    response.style.color = "red";
                                    kiterminal_window.appendChild(response);
                                  }
                                }
                              });

                            }
                            else if(project){
                              alert("existe");
                            }
                            else{
                              alert("No existe");
                            }
                          }
                        });

                        
                        

                    }
                  }
                  
                   //kiterminal_window.appendChild(response);
                    //create_lines();
                }
                
                else{
                  response.innerText+="Command not found";
                  response.style.color="red";
                  kiterminal_window.appendChild(response);
                    create_lines();

                }
                if (command.value == "out"){
                  kiterminal_window.innerHTML ="";
                  kiterminal_window.style.display="none";       
                  
        
                
                }
               
             }
            
             
           });
           
         }
      
         
         


        
      
    //if (window.matchMedia("(max-width:768px)").matches){
      //const nav_links = document.getElementById('nav-links');
      //nav_links.style.display="none";
    //}

    

    const menu_btn = document.getElementById('menu-btn');
    menu_btn.addEventListener("click",()=>{
      
      const nav_links = document.getElementById('nav-links');
      nav_links.classList.toggle("active");
  
      
    });

    

   

    themes.addEventListener("click", () =>{
      if (themes.value == "user-theme"){
        document.body.style.background="#000000"
        
      }
      else{
        document.body.style.background="#f1e0fc"
      }

    });
  </script>    
  </body>
</html>
