<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%block title%} {%endblock%}</title>

    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/styles.css')}}"
    />
  </head>
  <body class="home">
    <nav class="navbar">
      <!--bG9nbyBrbXcK-->
      <div class="kmw-logo">
        <img src="" alt="KMW" />
      </div>
      <!--bG9nbyBrbXcK-END-->
      <!--bmF2IGxpbmtzCg==THEMES START-->
      <div class="theme-changer">
        <select name="themes" id="themes">
          <option value="default" >Default KMW Theme</option>
          <option value="user-theme">{{username}} Theme</option>
        </select>
      </div>
      <!--bmF2IGxpbmtzCg==THEMES END-->
      <!--bmF2IGxpbmtzCg== START-->
      <button type="button" id="menu-btn">
        ≡
      </button>
      <ul class="nav-links" id="nav-links">
        <li><a style="text-decoration: none;" href="{{url_for('home')}}" class="{% if request.endpoint == 'home'%} active {%endif%}">Home</a></li>
        <li><a style="text-decoration: none;" href="{{url_for('my_projects')}}" class="{% if request.endpoint == 'my_projects'%} active {%endif%}">My projects</a></li>
        <li> <a style="text-decoration: none;" href="{{url_for('productivity_tools')}}" class="{% if request.endpoint == 'productivity_tools'%} active {%endif%}">KMW Productivity</a></li>
        <li><a style="text-decoration: none;" href="{{url_for('settings')}}" class="{% if request.endpoint == 'settings'%} active {%endif%}">Settings</a></li>
        <li><a href="{{url_for('logout')}}">Log Out</a></li>
      </ul>
      <!--bmF2IGxpbmtzCg== END-->
      <!--bmF2IGxpbmtzCg==account START-->
      <div class="account">
        <a href="{{url_for('user_profile')}}">
        {% if userpic %}
          <img  src="{{userpic}}" alt="user-profile" /></a>
        {% else %}
        <a href="{{url_for('user_profile')}}">
          <img src="{{url_for('static', filename='images/defaultkittyprofile.png')}}" alt="">
        </a>
        {% endif%}
      </div>
      <!--bmF2IGxpbmtzCg==account END-->
    </nav>

    <div id="kiterminal">
      <p>K&gt_</p>
    </div>

   <div id="kiterminal-window">
      <div id="close-terminal">
        x
      </div>
      <!--<p class="command-data-user" id="banner-user">{{username}}∆rootkit~:</p>
      <input  type="text" name="user-command" id="command">
      <p id="response">kit&gt:</p>-->
    </div>
    {% block content %}
    {%endblock%}
  <script>
    const themes = document.getElementById("themes");
    const kiterminal = document.getElementById("kiterminal");
    const kiterminal_window = document.getElementById("kiterminal-window");
    const close_terminal = document.getElementById("close-terminal");
    kiterminal.addEventListener("click", ()=>{

         kiterminal_window.style.display="flex";
          
         create_lines();
      
         if(kiterminal_window.style.display=="none"){
      
           kiterminal_window.style.display="flex";
         }
      
    });
    close_terminal.addEventListener("click",()=>{
      kiterminal_window.innerHTML =""; 
      kiterminal_window.style.display="none";
    });
         function create_lines(){
           kiterminal_window.appendChild(close_terminal);
           const banner_user = document.createElement('p');
           banner_user.className = 'command-data-user';
           banner_user.id = 'banner-user';
           banner_user.innerText="{{username}}∆kitt~:"
           kiterminal_window.appendChild(banner_user);
           const command = document.createElement("input");
           kiterminal_window.appendChild(command);
           command.id = 'command';
           const response = document.createElement("p");
           response.id = 'response';
           response.innerText="K>:";

           command.addEventListener("keydown", (e)=>{

             if (e.key === "Enter"){
                kiterminal_window.appendChild(banner_user);
                kiterminal_window.appendChild(command);
                if (command.value == "me"){
                  response.innerText+="{{username}}";
                  kiterminal_window.appendChild(response);
                  create_lines();
          
                  
                }
                else if(command.value == "where"){
                  response.innerText+="{{request.endpoint}}";
                  kiterminal_window.appendChild(response);
                  create_lines();
                }
                else if(command.value == "icon"){
                  response.innerText+="{{userpic}}";
                  kiterminal_window.appendChild(response);
                  create_lines();
                }
                if (command.value == "out"){
                  kiterminal_window.innerHTML ="";
                  kiterminal_window.style.display="none";       
                  
        
                
                }
               
             }
            
             
           });
           
         }
      
         
         


        
      
    //if (window.matchMedia("(max-width:768px)").matches){
      //const nav_links = document.getElementById('nav-links');
      //nav_links.style.display="none";
    //}

    

    const menu_btn = document.getElementById('menu-btn');
    menu_btn.addEventListener("click",()=>{
      
      const nav_links = document.getElementById('nav-links');
      nav_links.classList.toggle("active");
  
      
    });

    

   

    themes.addEventListener("click", () =>{
      if (themes.value == "user-theme"){
        document.body.style.background="#000000"
        
      }
      else{
        document.body.style.background="#f1e0fc"
      }

    });
  </script>    
  </body>
</html>
