<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kitty Web Manager</title>
  <link rel="stylesheet"  href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body class="index-body">
  <div class="container">
    <h1>Welcome to Kitty Manager Web!</h1>
    <p>Select a account option</p>
    <a href="{{url_for('register')}}">Create Account</a>
    <a href="{{url_for('login')}}">Sign in</a>
  </div>
</body>
</html>
