{% extends  "base.html"%}

{% block title %}My Project{% endblock %}

{%block content%}
    <h1 class="projects_h1">{{username}} projects</h1>
    <div class="git-hub-conexion">
       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
       </svg>

       <a href=""><h4 >Connect your GitHub account</h4></a>
    </div>

    <div class="projects" id="projects-container">
        <div id="adder" class="project addprojects">
            <p>+</p>
        </div>
    </div>

    <div  id="pop-up-project" class="pop-up-project">
        <div id="close-btn">x</div>
         <h1>Configure su proyecto</h1>
        <form action="" method="post">
           <label for="name-project">Project Name</label>
           <input type="text" name="name-project" required>
           <label for="project-password">Password Project (optional) </label>
           <input type="checkbox" id="pass-lock" name="pass-lock"><label for="pass-lock">Add Project Pass?</label>
           <div class="pass-wrapper">
            <input type="password" id="pass_project" disabled >
           <span id="toogle-password">👁</span>
           </div>
           
           
           <button type="button" class="adder" id="adder_project">Add Project</button>
        </form>
    </div>

<script>
    const popup_project = document.getElementById('pop-up-project');
    const adder = document.getElementById('adder');
    const closeBtn_in_adder = document.getElementById('close-btn'); 
    const pass_lock = document.getElementById('pass-lock');
    const password_project = document.getElementById('pass_project');
    const toogle_password = document.getElementById('toogle-password');
    const adder_project = document.getElementById('adder_project');
    const projects_container = document.getElementById('projects-container');
    adder_project.addEventListener("click", () => {
        const project = document.createElement('div');
        project.className="project";
        projects_container.appendChild(project);
        project.style.flex = "2";
        
    });

    toogle_password.addEventListener("click", ()=>{
        if (password_project.type == "password"){
            password_project.type = "text";
        }
        else{
            password_project.type = "password";
        }
    });

    adder.addEventListener("click", () =>{
        popup_project.style.display = "block";
        
        pass_lock.checked = false;
        password_project.setAttribute("disabled", true);
       
        
    });

    closeBtn_in_adder.addEventListener("click", ()=> {
            popup_project.style.display="none";
           
    });

    pass_lock.addEventListener("change",()=>{
        if (pass_lock.checked){
             password_project.removeAttribute('disabled');
        }
        else{
             password_project.setAttribute("disabled", true);
        }
           

    });
</script>


{%endblock%}